apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd
resources:
  - base/default-project.yaml
  - base/argocd-ui-ingress.yaml
  - base/argocd-grpc-ingress.yaml
  - base/pathfinder-repo.yaml
  - base/rollouts-extension.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/refs/heads/master/manifests/install.yaml
  - base/argocd-cluster-secret.yaml

components:
  - https://github.com/argoproj-labs/argocd-extensions/manifests

patches:
  - path: overlays/argocd-cmd-params-cm.yaml

images:
  - name: quay.io/argoproj/argocd
    newTag: 3.2.0@sha256:3c9b3b33a7e6c9c56a9d8417af1845afc516f714941962208b125017bbc1e4b1
